<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <script th:src="@{/console/js/jquery-1.11.1.min.js}"></script>
    <script th:src="@{/console/js/bootstrap.min.js}"></script>
    <script th:src="@{/console/js/chart.min.js}"></script>
    <script th:src="@{/console/js/chart-data.js}"></script>
    <script th:src="@{/console/js/easypiechart.js}"></script>
    <script th:src="@{/console/js/easypiechart-data.js}"></script>
    <script th:src="@{/console/js/bootstrap-datepicker.js}"></script>
</html>